:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #23346D;
  --accent-color: #D71243;
  --accent-color-rgb: 215, 18, 67;
  --primary-shade: #F4F6FC;
  --white-alpha: rgba(255, 255, 255, 0.4);
  --grey-lighter: #DEDEDE;
  --grey-light: #BDBDBD;
  --grey: #808080;
  --grey-dark: #545454;

  --size-2xl: 2.5rem;
  --size-xl: 2rem;
  --size-lg: 1.75rem;
  --size-md: 1.5rem;
  --size-nl: 1rem;
  --size-sm: 0.75rem;
  --size-xs: 0.875rem;
}
