:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #23346D;
  --accent-color: #D71243;
  --accent-color-rgb: 215, 18, 67;
  --primary-shade: #F4F6FC;
  --white-alpha: rgba(255, 255, 255, 0.4);
  --grey-lighter: #DEDEDE;
  --grey-light: #BDBDBD;
  --grey: #808080;
  --grey-dark: #545454;

  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;
  --h4-size: 1.5rem;
  --body-size: 1rem;
  --small-size: 0.875rem;
  --button-size: 1rem;
  --button-small-size: 0.875rem;
}
