/* Base button style */
.button {
    padding: 0.6rem var(--size-lg);
    border: 1px solid transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--size-nl);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    cursor: pointer;
    display: inline-block;
}

/* Sizes */
.button--small {
    padding: var(--size-xs) var(--size-sm);
}

/* Color and fill variations */

/* Primary */
.button--primary--filled {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}

.button--primary--filled:hover {
    background-color: var(--primary-shade);
    border-color: var(--primary-shade);
    color: var(--primary-color);
}

.button--primary--outlined {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.button--primary--outlined:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Accent */
.button--accent--filled {
    background-color: var(--accent-color);
    color: var(--white-color);
    border-color: var(--accent-color);
}

.button--accent--filled:hover {
    background-color: var(--accent-shade);
    border-color: var(--accent-shade);
}

.button--accent--outlined {
    background-color: transparent;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.button--accent--outlined:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
}
