.hero {
  display: flex;
  min-height: 90vh;
  padding: 5rem;
  border-radius: var(--size-md);
  gap: 5rem;
  align-items: center;
  background-image: url('/hero-background.jpg');
  background-size: cover;
  background-position: center;
}

.leftColumn {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.rightColumn {
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  color: black;
}
.buttons {
  display: flex;
  gap: 1rem;
  padding-block: var(--size-nl);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
  }

  .buttons {
    text-align: center;
    width: 100%;
  }

  .buttons button {
    width: 100%;
  }
}

