.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    color: black;
  }

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }

  .navLinks a {
    margin: 0 1rem;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
  }

  .loginButton {
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }

  .mobileNav {
    display: none;
  }


  /* Mobile Styles */
  @media (max-width: 768px) {
    .navLinks, .login {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .mobileNav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eaeaea;
        padding: 1rem 0;
        text-align: center;
    }

    .mobileNav a {
        padding: 1rem 0;
        color: #333;
        text-decoration: none;
    }

    .mobileNav .loginButton {
        display: inline-block;
        margin: 1rem auto 0;
        width: fit-content;
    }
  }
