.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--grey-lighter);
    color: var(--black-color);
  }

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
  }

  .navLinks a {
    margin: 0 1rem;
    color: var(--black-color);
    text-decoration: none;
    font-size: 1rem;
  }

  .loginButton {
    padding: 0.5rem 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    color: var(--accent-color);
    text-decoration: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--white-color);
    margin: 5px 0;
  }

  .mobileNav {
    display: none;
  }


  /* Mobile Styles */
  @media (max-width: 768px) {
    .navLinks, .login {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .mobileNav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        width: 100%;
        background-color: var(--black-color);
        border-top: 1px solid var(--grey-dark);
        padding: 1rem 0;
        text-align: center;
    }

    .mobileNav a {
        padding: 1rem 0;
        color: var(--white-color);
        text-decoration: none;
    }

    .mobileNav .loginButton {
        display: inline-block;
        margin: 1rem auto 0;
        width: fit-content;
    }
  }
