.skeletonCard {
  pointer-events: none;
}

.pulse {
  background: linear-gradient(
    90deg,
    #f8f8f8 0%,
    #e9e9e9 50%,
    #f8f8f8 100%
  );
  background-size: 200% 100%;
  animation: pulse 1.5s infinite linear;
}

@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
