

.buttonContainer {
  display: flex;
  gap: var(--size-sm);
  align-items: center;
  justify-content: space-between;
}

.propertyCard {
  background: var(--white-color);
  border: 1px solid var(--grey-lighter);
  border-radius: var(--size-xs);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  color: var(--black-color);
}

.propertyCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.propertyImageContainer {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: var(--grey-lighter);
}

.propertyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noImagePlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}

.propertyStatusBadge {
  position: absolute;
  top: var(--size-sm);
  left: var(--size-sm);
  background: rgba(var(--accent-color-rgb), 0.8);
  color: var(--white-color);
  padding: var(--size-xs);
  border-radius: var(--size-xxs);
  font-size: var(--size-sm);
  text-transform: uppercase;
  backdrop-filter: blur(2px);
}

.propertyDetails {
  padding: var(--size-nl);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.propertyTitle {
  font-size: var(--size-nl);
  color: var(--black-color);
  padding-block: var(--size-sm);
}

.propertyLocation {
  color: var(--grey);
  padding-block: var(--size-sm);
  font-size: var(--size-xs);
}

.propertyPrice {
  font-size: var(--size-md);
  font-weight: bold;
  color: var(--primary-color);
}

.propertySpecs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--grey-lighter);
  padding-block: var(--size-sm);
  font-size: var(--size-xs);
  color: var(--grey-dark);
}

.propertyFeatures {
  display: flex;
  align-items: center;
  gap: var(--size-xs);
}
