.searchBar {
  display: flex;
  width: 100%;
  padding-block: var(--size-md);
}

.searchBar input {
  background: transparent;
  border: none;
  width: 100%;
  padding: var(--size-nl);
  border: 1px solid  var(--white-color);
  border-radius: 5px;
  background-color: var(--white-alpha);
  backdrop-filter: blur(5px);
}

.searchBar input::placeholder {
  color: var(--grey);
}

.searchBar input:focus {
  outline: none;
}
