.searchContainer {
    width: 100%;
  }
  
  .tabs {
    display: flex;
    margin-bottom: -1px;
    z-index: 1;
    position: relative;
  }
  
  .tab {
    background: var(--primary-color);
    border-bottom: 1px solid var(--white-color);
    padding: var(--size-sm) var(--size-md);
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    color: var(--white-alpha);
    margin-right: 5px;
  }
  
  .tab.active {
    background-color: var(--white-alpha);
    backdrop-filter: blur(5px);
    color: var(--primary-color);
    font-weight: bold;
    border: 1px solid var(--white-color);
    border-bottom: 1px solid transparent;
  }
  
  .content {
    padding: var(--size-md);
    border: 1px solid var(--white-color);
    border-radius: 0 5px 5px 5px;
    background-color: var(--white-alpha);
    backdrop-filter: blur(5px);
  }
  
  .searchBar {
    display: flex;
    gap: var(--size-sm);
    width: 100%;
    position: relative;
  }
  
  .searchBar button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 5;
    transition: transform 0.5s ease-in;

    :hover:first-child {
      stroke: var(--accent-color);
    }
  }
  
  .searchBar input {
    background: rgba(255, 255, 255, 0.503);
    border: none;
    width: 100%;
    padding: var(--size-nl);
    border: 1px solid var(--white-color);
    border-radius: 5px;
  }
  
  .searchBar input::placeholder {
    color: var(--grey);
  }
  
  .searchBar input:focus {
    outline: none;
    background-color: var(--white-color);
  }
  
  .valueForm {
    display: flex;
    gap: var(--size-sm);
    align-items: center;
  }
  
  .valueForm input {
    background: rgba(255, 255, 255, 0.503);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    padding: var(--size-nl);
    width: 100%;
  }
  
  .valueForm input::placeholder {
    color: var(--grey);
  }
  
  .valueForm input:focus {
    outline: none;
    background-color: var(--white-color);
  }
  
  .valueForm button {
    height: 100%;
  }
