.primary {
  color: var(--primary-color);
}

.black {
  color: var(--black-color);
}

.heading1 {
  font-size: var(--font-size-1);
  font-weight: 700;
  padding-block: var(--size-nl);
}

.heading2 {
  font-size: var(--font-size-2);
  font-weight: 700;
  padding-block: var(--size-nl);
}

.heading3 {
  font-size: var(--font-size-3);
  font-weight: 700;
  padding-block: var(--size-nl);
}

.heading4 {
  font-size: var(--font-size-4);
  font-weight: 700;
  padding-block: var(--size-nl);
}

.body {
  font-size: var(--font-size-body);
  font-weight: 400;
  padding-block: var(--size-nl);
}

.small {
  font-size: var(--font-size-small);
  font-weight: 400;
  padding-block: var(--size-nl);
}

.sectionTitle {
  font-size: var(--size-nl);
  font-weight: 700;
  color: var(--grey-dark);
  text-align: center;
  padding-block: var(--size-nl);
}