.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 98svh;
  gap: var(--size-md);
  color: var(--primary-color);
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid var(--grey-lighter);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  font-size: var(--font-size-3);
  font-weight: 500;
}
